<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228209530582-bnishc10ocmqic66hje5pv2qviduloo0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228209530582-bnishc10ocmqic66hje5pv2qviduloo0</string>
	<key>API_KEY</key>
	<string>AIzaSyDQQoH4Bs3NdYcEXh890FpaNhADLa9tvJI</string>
	<key>GCM_SENDER_ID</key>
	<string>228209530582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muratakdal.TMDB</string>
	<key>PROJECT_ID</key>
	<string>tmdb-e5fe1</string>
	<key>STORAGE_BUCKET</key>
	<string>tmdb-e5fe1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:228209530582:ios:44728462e52cd7e9d65b77</string>
</dict>
</plist>
